ion-content{
    --ion-background-color:#111D12;
}

.menu-card{
    background: white;
    font-size: 15px;
    color: black;
    border: 2px red solid;
}

.menu-icon{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
